@model List<Heuristics.TechEval.Core.Models.Member>
@{
    ViewBag.Title = "Members";

}
<h1>Member List</h1>
<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#MemberModal" onclick="isNewRecord()">Add New Member</button>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Email</th>   
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <th scope="row">@member.Id</th>
                <td id="name_@member.Id">@member.Name</td>
                <td id="category_@member.Id">@member.CategoryId</td>
                <td id="email_@member.Id">@member.Email </td>
                <td>
                    <button type="button" onclick="isUpdatedRecord('@member.Id')" class="btn  pull-right" data-toggle="modal" data-target="#MemberModal">Edit Member Info</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>@ViewBag.Message</h3>

<div class="modal fade" id="MemberModal">
    <div class="modal-dialog" role="document">
        <form id="NewMemberForm" action="/Members/New" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" name="Id" id="Id" value="0">
                    <label name="ModalTitle" id="ModalTitle" class="modal-title">New Member</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Name">Member Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="John Smith" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Email Address</label>
                        <input type="email" class="form-control" id="Email" name="Email" placeholder="you@awesome.com" />
                    </div>
                    <div class="form-group">
                        <label for="MemberCategoryId">Category</label>
                        <select id="CategoryId" name="CategoryId">
                            @foreach( var category in ViewBag.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>

                    </div>
                </div>
                <div class="modal-footer">
                    <label class="pull-left" id="message" name="message"></label>
                    <input type="submit" onclick="submitThisForm()" class="btn btn-primary" value="Save" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#NewMemberForm").ajaxForm({
            success: function (formData, jqForm, options) {
                // sure would be nice if we didn't have to reload the whole page...
                document.location.reload();
            }
        });
    });

    $('#NewMemberForm').submit(function () {

        // get the string length of the email and name fields.
        // The Category defaults to 'developer'

        var name = document.getElementById('Name').value;
        var email = document.getElementById('Email').value;

        if (email == "" || name == "") {
            document.getElementById('message').innerHTML = "There is information missing from your form.  Please correct in order to continue.";
            return false;
        }
        else {
            return true;
        }

        
    });



    function isUpdatedRecord(memberId)
    {
        document.getElementById('message').innerHTML = "";
        document.forms.NewMemberForm.action = "/Members/Edit";
        document.getElementById('ModalTitle').innerHTML = "Edit Record";
        
        var myEmail = 'email_' + memberId;
        var myName = 'name_' + memberId;

        var thisEmail = document.getElementById(myEmail).innerHTML;
        var thisName = document.getElementById('name_' + memberId).innerHTML;

        document.getElementById('Name').value = thisName;
        document.getElementById('Email').value = thisEmail;
        document.getElementById('Id').value = memberId;

    }

    function isNewRecord() {
        document.getElementById('message').innerHTML = "";
        document.forms.NewMemberForm.action = "/Members/New";
        document.getElementById('ModalTitle').innerHTML = "New Record";

        document.getElementById('Name').value = "";
        document.getElementById('Email').value = "";
    }




</script>